/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.jobtitle {
    font-size: 1.2em;
    font-weight: bold;
}

.jobseparator {
    margin-top: 2em;
    margin-bottom: 2em;
}

.applybutton {
    margin-left: 1em;
}
